<div class='panel-body'>
  <%= form_for(@customer, html: { class: 'form-horizontal' }) do |f| %>
    <% if @customer.errors.any? %>
      <div id="error_explanation" class='alert alert-danger' role='alert'>
        <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class='form-group'>
      <label class="col-sm-2 control-label"><%= f.label :name %></label>
      <div class="col-xs-4">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>
    </div>
    <div class='form-group'>
      <label class="col-sm-2 control-label"><%= f.label :email %></label>
      <div class="col-xs-4">
        <%= f.text_field :email, class: 'form-control', placeholder: 'E-mail' %>
      </div>
    </div>
    <div class='form-group'>
      <label class="col-sm-2 control-label"><%= f.label :address %></label>
      <div class="col-xs-4">
        <%= f.text_field :address, class: 'form-control', placeholder: 'Address' %>
      </div>
    </div>
    <div class='form-group'>
      <label class="col-sm-2 control-label"><%= f.label :phone %></label>
      <div class="col-xs-4">
        <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone' %>
      </div>
    </div>
    <div class='form-group'>
      <label class="col-sm-2 control-label"><%= f.label :current_balance %></label>
      <div class="col-xs-4">
        <%= f.number_field :current_balance, class: 'form-control', placeholder: 'Current Balance' %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Save', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
