<!DOCTYPE html>
<html>
<head>
  <title>Hajis</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/js/methods.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<% if user_signed_in? %>
		<%= render template: "layouts/header" %>
	<% end %>
	<%= yield %>
	<%= render template: 'layouts/footer' %>
</div>
</body>
</html>
